body {
    background-color:whitesmoke;
}

.main-text {
    color: rgb(60,60,60);
}

/* nav bar */

.nav-ul {
    list-style-type: none;
    background-color: rgb(60,60,60);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-li {
    float: left;
    background-color: rgb(60,60,60);
}
  
.nav-a {
    display: block;
    color: rgb(200, 200, 200);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-a:hover {
    background-color: rgb(50,50,50);
    color: rgb(255, 255, 255);
}