/* #region - general rules */

html {
    min-width: 360px;
    max-width: 1280px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: calc(1.5rem + 1.5vw);
    font-weight: bold;
    color: rgb(55, 100, 150);
    margin: 0 0 0.5rem;
}

h2 {
    font-size: calc(0.75rem + 0.75vw);
    font-weight: bold;
    color: rgb(55, 100, 150);
    margin: 0 0 0.5rem;
}

h3 {
    font-size: calc(0.75rem + 0.75vw);
    font-weight: normal;
    color: black;
    margin: 0 0 0.5rem;
}

h4 {
    font-size: calc(0.75rem + 0.5vw);
    font-weight: normal;
    font-style: italic;
    color: rgb(55, 100, 150);
    margin: 0 0 0.25rem;
}

/* #endregion */

/* #region - header rules */

header {
    padding: 1rem;
}

header .row {
    display: flex;
    align-items: center;   
}

header .column-left {
    float: left;
    width: 66.66%;
}

header .column-right {
    float: right;
    width: 33.33%;
}

header .row-icon {
    display: flex;
    float: right;   
}

header .icon {
    display: flex;
    width: calc(1.5rem + 1.5vw);
    height: calc(1.5rem + 1.5vw);
    padding-left: 0.25rem;
}

/* #endregion */

/* #region - nav rules */



/* #endregion */