/* #region -- general -- */

main div[class*="column"]{
    margin-left: 1rem;
}

@media only screen and (max-width: 640px) {

    .row{
        display: block;
    }

}

@media only screen and (min-width: 641px) {

    .row{
        display: flex;
        align-items: baseline;
    }

}

/* #endregion */

/* #region -- experiences -------------------------------------------------- */

.experiences h2{
    display:inline-block;
}

.experiences h4{
    float: right;
    font-style: italic;
}

img[alt="ETH"]{width: 7rem; margin: auto;}
img[alt="CENTURI"]{width: 7rem; margin: auto;}
img[alt="IBDM"]{width: 7rem; margin: auto;}
img[alt="AMU"]{width: 7rem; margin: auto;}
img[alt="Rennes1"]{width: 7rem; margin: auto;}

@media only screen and (max-width: 640px) {

    .experiences .column-img{
        text-align: right;
    }

}

@media only screen and (min-width: 641px) {

    .experiences .row{
        display: flex;
        align-items: center;
    }

    .experiences .column-txt{
        width: 75%;
    }

    .experiences .column-img{
        width: 25%;
        text-align: center;
    }

}

/* #endregion */

/* #region -- publications ------------------------------------------------- */

.publications p{
    /* text-align: left; */
}

.publications .button{
    font-size: 0.7rem;
    line-height: 0.8rem;
    border-radius: 0.35rem;
}

.publications .name{
    color: rgb(55, 100, 150);
    /* color: black; */
    /* font-style: italic; */
    font-weight: bold;
}

.publications .journal{
    color: rgb(55, 100, 150);
    /* color: black; */
    font-style: italic;
    /* font-weight: bold; */
}

.publications .year{
    /* color: rgb(55, 100, 150); */
    color: black;
    /* font-style: italic; */
    /* font-weight: bold; */
}

img[alt="Link"] {width: 1.5rem; filter:contrast(50%)}

@media only screen and (max-width: 640px) {

    .publications .column{
    }

}

@media only screen and (min-width: 641px) {

    .publications .column{
        width: 50%;
    }

}

/* #endregion */

/* #region -- expertise ---------------------------------------------------- */

.expertise h2{
    margin-left: 1rem;
}

.expertise .item{
    /* background-color: rgb(240, 240, 240); */
    /* border-radius: 0.5rem; */
    padding: 0.25rem 1rem;
    margin: 0.5rem 0;
}

@media only screen and (max-width: 640px) {
}

@media only screen and (min-width: 641px) {

    .expertise .column{
        width: 33.33%;
    }

}

/* #endregion */

/* #region -- teaching ----------------------------------------------------- */

.teaching .header h3, .teaching .header p{
    display:inline-block;
    /* margin-right: 5px; */
}

/* #endregion */