/* #region - general rules */

main div[class*="column"]{
    margin-left: 1rem;
}

.expertise h2{
    margin-left: 1rem;
}

.expertise .item{
    background-color: rgb(240, 240, 240);
    border: 0.5px solid rgb(40, 40, 40);
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    margin: 0.5rem 0;
}

.expertise p{
    display:inline-block;
    background-color: white;
    border: 0.5px solid rgb(40, 40, 40);
    border-radius: 0.5rem;
    text-align: center;
    padding: 0 0.5rem;
    margin: 0 0 0.25rem;
}

.expertise p:hover{
    background-color: rgb(55, 100, 150);
    color: white;
}

.expertise a{
    text-decoration: none;
    color: inherit;
}

.experiences h2{
    display:inline-block;
}

.experiences h4{
    float: right;
    font-style: italic;
}

/* Images */

img[alt*="Location"]{width: 1.5rem; margin: auto;}
img[alt*="Mail"]{width: 1.5rem; margin: auto}
img[alt*="Fix"]{width: 1.5rem; margin: auto;}
img[alt*="Mobile"]{width: 1.5rem; margin: auto;}

img[alt*="Portrait"]{width: 10rem; margin: auto;}

img[alt*="ETH"]{width: 7rem; margin: auto;}
img[alt*="AMU"]{width: 7rem; margin: auto;}
img[alt*="Rennes1"]{width: 7rem; margin: auto;}

/* #endregion */

/* --- medium + --- */
@media only screen and (min-width: 641px) {
    
    .row{
        display: flex;
        align-items: baseline;
    }

    /* ------ */

    .overview .row{
        display: flex;
        border: 0.5px solid rgb(40, 40, 40);
    }

    .overview .column-left{
        width: 33%;
        border: 0.5px solid rgb(40, 40, 40);
    }

    .overview .column-right{
        width: 66%;
        border: 0.5px solid rgb(40, 40, 40);
    }

    /* ------ */

    .expertise .column{
        width: 33%;
    }

    .experiences .row{
        display: flex;
        align-items: center;
    }

    .experiences .column-txt{
        width: 75%;
    }

    .experiences .column-img{
        width: 25%;
        text-align: center;
    }

}

/* --- small --- */
@media only screen and (max-width: 640px) {
    
    .row{
        display: block;
    }

    .experiences .column-img{
        text-align: right;
    }
}

