/* #region - content rules */

div.content {
    padding: 1rem;
    max-width: 960px;
    box-sizing: border-box;
    margin: auto;
}

div.content img[alt*="portrait"]{
    width: 10rem;
    margin: auto;   
}

    /* --- small --- */
    @media only screen and (max-width: 640px) {

        div.content .row {
            display: block;
        }
        
        div.content .column-img {
            display: flex;
            width: 100%;
            padding-bottom: 0.5rem;
            margin: auto;
        }
        
        div.content .column-txt {
            float: flex;
            width: 100%;
            padding-top: 0.5rem;    
        }

    }

    /* --- medium + --- */
    @media only screen and (min-width: 641px) {

        div.content .row {
            display: flex;
            align-items: center;
        }
        
        div.content .column-img {
            display: flex;
            align-items: center;
            width: 25%;
            padding-right: 0.5rem;
        }
        
        div.content .column-txt {
            float: right;
            width: 75%;    
            padding-left: 0.5rem;
        }

    }

/* #endregion */
