/* #region - general rules */

.expertise h2{
    margin-left: 1rem;
}

.expertise .item{
    background-color: rgb(240, 240, 240);
    border: 0.5px solid rgb(40, 40, 40);
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    margin: 0.5rem 0;
}

.expertise p{
    display:inline-block;
    background-color: white;
    border: 0.5px solid rgb(40, 40, 40);
    border-radius: 0.5rem;
    text-align: center;
    padding: 0 0.5rem;
    margin: 0 0 0.25rem;
}

.experiences h2 {
    display:inline-block;
}

.experiences h4 {
    float: right;
    font-style: italic;
}

/* Images */

img[alt*="portrait"]{
    width: 10rem;
    margin: auto; 
}

/* #endregion */

/* --- medium + --- */
@media only screen and (min-width: 641px) {
    
    .row {
        display: flex;
        align-items: baseline;
        padding: 1rem 0;
    }

    main div[class*="column"] {
        margin-left: 1rem;
    }

    .few-words .column-img {
        width: 25%;
        text-align: center;
        margin: auto;
    }

    .few-words .column-txt {
        float: flex;
        width: 75%;
    }

    .expertise .column {
        width: 33%;
    }

    .experiences .column-txt {
        width: 75%;
    }

    .experiences .column-img {
        width: 25%;
    }

}

/* --- small --- */
@media only screen and (max-width: 640px) {
    
    .row {
        display: block;
    }

    main div[class*="column"] {
        margin-left: 1rem;
    }

    .experiences .column-img {
        text-align: right;
    }
}

