/* #region - nav rules */

nav a[href="home.html"] {
    background-color: rgb(128, 128, 128);
    color: white;
}

/* #endregion */

/* #region - few-words rules */

div.few-words {
    padding: 1rem;
    max-width: 960px;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 0;
}

div.few-words p{
    margin-block-end: 0;
}

div.few-words img[alt*="portrait"]{
    width: 10rem;
    margin: auto;
    
}

    /* --- small --- */
    @media only screen and (max-width: 640px) {

        div.few-words .row {
            display: block;
        }
        
        div.few-words .column-img {
            display: flex;
            width: 100%;
            padding-bottom: 0.5rem;
            margin: auto;
        }
        
        div.few-words .column-txt {
            float: flex;
            width: 100%;
            padding-top: 0.5rem;    
        }

    }

    /* --- medium + --- */
    @media only screen and (min-width: 641px) {

        div.few-words .row {
            display: flex;
            align-items: center;
        }
        
        div.few-words .column-img {
            display: flex;
            align-items: center;
            width: 25%;
            padding-right: 0.5rem;
        }
        
        div.few-words .column-txt {
            float: right;
            width: 75%;    
            padding-left: 0.5rem;
        }

    }

/* #endregion */