/* #region - general rules */

.experiences h2 {
display:inline-block;
}

.experiences h4 {
    float: right;
    font-style: italic;
}

/* #endregion */

/* --- medium + --- */
@media only screen and (min-width: 641px) {
    
    .row {
        display: flex;
        align-items: baseline;
    }

    main div[class*="column"] {
        margin-left: 1rem;
    }

    .few-words .column-img {
        width: 25%;
    }

    .few-words .column-txt {
        width: 75%;
    }

    .expertise .column {
        width: 33%;
    }

    .experiences .column-txt {
        width: 75%;
    }

    .experiences .column-img {
        width: 25%;
    }

}

/* --- small --- */
@media only screen and (max-width: 640px) {
    
    .row {
        display: block;
    }

    main div[class*="column"] {
        margin-left: 1rem;
    }

    .experiences .column-img {
        text-align: right;
    }
}

