/* #region - screen width modifers */

/* --- small --- */
@media only screen and (max-width: 640px) {

    html { 
        font-size: 12px;
        min-width: 360px;
    }

}

/* --- medium --- */
@media only screen and (min-width: 641px) {

    html { 
        font-size: 14px;
        max-width: 1280px;
        margin: auto;
    }

}

/* #endregion */

/* #region - general rules */

html {
    min-width: 360px;
    max-width: 1280px;
    font-family: Roboto, sans-serif;
    margin: auto;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(55, 100, 150);
    margin: 0.5rem auto;
}

h2 {
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(50, 50, 50);
    margin: 0.5rem auto;
}

h3 {
    font-size: 1rem;
    font-weight: normal;
    color: rgb(55, 100, 150);
    margin: 0.5rem auto;
}

h4 {
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(100, 100, 100);
    margin: 0.5rem auto;
}

p {
    font-size: 0.9rem;
    color: rgb(100, 100, 100);
    text-align: justify;
    line-height: 1.25rem;
    margin: 0.5rem auto;
}

hr.hr1 {
    border: none;
    border-top: 1px solid rgb(40, 40, 40);
}

hr.hr2 {
    border: none;
    border-top: 1px dotted rgb(160, 160, 160);
}

/* #endregion */

/* #region - header rules */

header {
    margin: auto 0.5rem;
}

header h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem auto auto auto;
}

header h2 {
    font-size: 1.42rem;
    font-weight: 400;
    margin: auto auto 1rem auto;
}

header .row {
    display: flex;
    align-items: center;   
}

header .row-icons {
    display: flex;
    float: right;
}

header .column-title {
    width: 66.66%;
}

header .column-icons {
    width: 33.33%;
}

header .icons {
    width: 2.5rem;
    margin-left: 0.5rem;
}

/* #endregion */

/* #region - nav rules */

nav {
    background-color: gainsboro;
    border: 0.05rem solid rgb(40, 40, 40);
}

nav ul {
    list-style-type: none;   
    overflow: hidden;
    padding-inline-start: 0;
    margin: 0;
}

nav li {
    float: left;
}

nav a {
    display: block;
    background-color: gainsboro;
    color: rgb(40, 40, 40);
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem;
}

nav a:hover {
    background-color: rgb(55, 100, 150);
    color: white;
}

/* #endregion */